.env
.env.*
**/.env
**/.env.*
/result
commit.txt
config/vesktop/*
!config/vesktop/themes/
!config/vesktop/themes/**
config/fastfetch/logo/*
config/quickshell/tmdb_account_id
config/quickshell/tmdb_token
config/quickshell/anilist_token
config/quickshell/scripts/__pycache__
