// Input
input {
    keyboard {
        repeat-delay 200
        repeat-rate 35
        xkb { }
    }
    touchpad {
        tap
        natural-scroll
    }
}

output "eDP-1" {
    mode "1920x1080@60.004"
    position x=1920 y=0
 }

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    position x=0 y=0
}

// Layout
layout {
	gaps 4
	focus-ring {   
		width 2
		active-color "#5e81ac"
		inactive-color "#2e3440"
	}
	border {
		off
	}
}

spawn-at-startup "swaybg" "-i" "/home/alpha/Pictures/Wallpapers/Beer-Girl.png" "-m" "fill"
spawn-at-startup "ssh-add" "/home/alpha/.ssh/id_ed25519_main"
spawn-at-startup "swayidle" "-w" "timeout" "300" "swaylock" "-f" "-c" "1a1b26" "before-sleep" "swaylock" "-f" "-c" "1a1b26"
spawn-at-startup "waybar" "-c" "/home/alpha/.config/waybar/config.jsonc" "-s" "/home/alpha/.config/waybar/style.css"
spawn-at-startup "gammastep" "-O" "3000"

binds {
    Mod+Return { spawn "kitty"; }
    Mod+D      { spawn "fuzzel"; }
    Mod+Q      { close-window; }
    Mod+F      { fullscreen-window; }
    Mod+T      { toggle-window-floating; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
    Mod+Ctrl+J { set-window-height "-10%"; }
    Mod+Ctrl+K { set-window-height "+10%"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    Mod+S { spawn "sh" "-c" "grim -g \"$(slurp)\" ~/Pictures/Screenshots/screenshot-$(date +%Y%m%d-%H%M%S).png";}

    Mod+Shift+E { quit; }
}
